{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
somethint
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap"
    />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLV33ZHYrWb4OL_DPzcyhYABXXUucj1Hs"></script>
  </head>
  <body>
      <div id="map" style="width: 100%; height: 768px;">
          <script>
              var map;
              var lastWindow = -1;
              var geocoder = new google.maps.Geocoder();
              const trashIconJS = trashIcon;
              const rCenterIconJS = rCenterIcon;
              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 40.73089125, lng: -73.99758504},
                  zoom: 10
                });
              }
              initMap();
              function closeAllInfoWindows() {
                {% for location in locations %}
                  infowindow{{ forloop.counter }}.close();
                {% endfor %}
              }
          </script>

          </div>

{% endblock content %}