{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap"
    />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLV33ZHYrWb4OL_DPzcyhYABXXUucj1Hs"></script>
  </head>
  <body>

      <div id="map" style="width: 100%; height: 500px;">
          <script>
              var gMap;
              var geocoder = new google.maps.Geocoder();
              function initMap() {
                gMap = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 40.73089125, lng: -73.99758504},
                  zoom: 10
                });
              }
              initMap();

          </script>
          </div>
  </body>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
<div>
<a href="http://127.0.0.1:8000/" class="btn btn-primary">Reset</a>
</div>
{% if data %}

<div id="table">
    <table class="table is-fullwidth is-striped is-bordered" style="border-collapse: collapse;">
      <thead>
      <tr>
          <th style="padding: 10px;">Pollutant</th>
          <th style="padding: 10px;">Value</th>
          <th style="padding: 10px;">Measure</th>
          <th style="padding: 10px;">Unit</th>
      </tr>
      </thead>
      <tbody>
      {% for area in data %}
      <tr>
          <td style="padding: 10px;">{{ area.name }}</td>
          <td style="padding: 10px;">{{ area.data_value }}</td>
          <td style="padding: 10px;">{{ area.measure }}</td>
          <td style="padding: 10px;">{{ area.measure_info }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>


<script>
  var address = "{{ geo_place_name }}";
 console.log(address)
 var contentString = 
     '<div> '+
    '<h2>Main pollutant: {{ name }}</h2>'+
    '<p>Max: {{ max_value }}</p>'+
    '<p>Min: {{ min_value }}</p>'+
    '<p>Avg: {{ avg_value }}</p>'+
    `</div>`;
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({'address' : address}, function (results, status) {
    if (status == "OK") {
      var marker = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        map: gMap,
        position: results[0].geometry.location,
      });
      gMap.panTo(marker.getPosition());
      gMap.setZoom(12);
      var infowindow = new google.maps.InfoWindow({
              content: contentString
          });
      infowindow.open(map, marker);
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });

  </script>
{% endif %}
</html>

{% endblock content %}